In [1]:
import pandas as pd

In [29]:
data = pd.read_csv('Speed_Dating_Data_noNaN.csv', encoding='latin1')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
data.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3,0
0,1,1,0,1,1,1,10,7,0,4,...,7,7,7,7,0,0,0,0,0,0
1,1,1,0,1,1,1,10,7,0,3,...,7,7,7,7,0,0,0,0,0,0
2,1,1,0,1,1,1,10,7,0,10,...,7,7,7,7,0,0,0,0,0,0
3,1,1,0,1,1,1,10,7,0,5,...,7,7,7,7,0,0,0,0,0,0
4,1,1,0,1,1,1,10,7,0,7,...,7,7,7,7,0,0,0,0,0,0

In [31]:
len(data.iid.unique())

551

In [32]:
#In order to do PCA, need to first convert categorical data to numerical data
#One can do this in pandas using the "get_dummies" function
cols_to_transform = [ 'field', 'from', 'career']

In [33]:
data_transformed = pd.get_dummies(data,columns = cols_to_transform)

In [34]:
data_transformed.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,career_teaching/education,career_tech professional,career_to get Ph.D and be a professor,career_undecided,career_unknown,career_unsure,career_writer,career_writer/editor,career_writer/producer,career_writer/teacher
0,1,1,0,1,1,1,10,7,0,4,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,1,1,1,10,7,0,3,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,1,1,1,10,7,0,10,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,1,1,10,7,0,5,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,1,1,1,10,7,0,7,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from sklearn.decomposition import PCA

In [36]:
pca = PCA(n_components = 10)