In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv('Speed_Dating_Data_noNaN.csv', encoding='latin1')

In [9]:
data = pd.read_csv('Speed Dating Data.csv', encoding='latin1')

In [5]:
data.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [31]:
len(data.iid.unique())

551

In [6]:
#In order to do PCA, need to first convert categorical data to numerical data
#One can do this in pandas using the "get_dummies" function
cols_to_transform = [ 'field', 'from', 'career']

In [7]:
data_transformed = pd.get_dummies(data,columns = cols_to_transform)

In [8]:
data_transformed.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,career_teaching/education,career_tech professional,career_to get Ph.D and be a professor,career_undecided,career_unknown,career_unsure,career_writer,career_writer/editor,career_writer/producer,career_writer/teacher
0,1,1.0,0,1,1,1,10,7,NaN,4,...,0,0,0,0,0,0,0,0,0,0
1,1,1.0,0,1,1,1,10,7,NaN,3,...,0,0,0,0,0,0,0,0,0,0
2,1,1.0,0,1,1,1,10,7,NaN,10,...,0,0,0,0,0,0,0,0,0,0
3,1,1.0,0,1,1,1,10,7,NaN,5,...,0,0,0,0,0,0,0,0,0,0
4,1,1.0,0,1,1,1,10,7,NaN,7,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from sklearn.decomposition import PCA

In [36]:
pca = PCA(n_components = 10)

In [10]:
def make_dummy_columns(data, cols_to_transform):
    """Function to convert categorical variables to numerical.
    
    Takes categorical variables and converts to numerical
    variables using dummy variables.

    Parameters
    ----------
    param1 : DataFrame
        DataFrame with categorical columns.
    param2 : list of strings
        List with names of columns to be transformed.

    Returns
    -------
    DataFrame
        Returns transformed DataFrame with dummy numerical variables.

    """
    data_transformed = pd.get_dummies(data,columns = cols_to_transform)
    return data_transformed

In [11]:
type(data)

pandas.core.frame.DataFrame